body{
  background-color: black;
  
}
.App{
  justify-content: center;
  display: flex;
  align-items: center;
}
.calc-wrapper{
  background-color: rgb(255, 255, 255);
  width: 350px;
  border-radius: 16px;
}
.rows{
  display: flex;
}
.watermark{
  color: grey;
  text-align: center;
}